*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
html, body {
    min-height: 100vh;
}
main {
    flex-grow: 1;
}
.marges{
    margin-left: 2rem;
    margin-right: 3rem;
}
.nomarges{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.font1{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Shantell Sans', cursive;
}
.bg2{
    background-color: #6593A6;
}
.fontbutnav{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.50rem;
    text-decoration: none;
    color: #000000;
    text-align: justify;
}
.body{
    background-color:#CEECF2 ;
    margin-bottom: 0px;
}
.header{
    display: flex;
    flex-direction: column;
}
.header h1 {
    text-align: center;
    color: #ffffff;
    background-color: #273859;
}
.sous_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content : space-between;
    align-items: center;
    box-shadow: 3px -3px 5px #000000;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
}
#logo{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#connexion{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
}
.logoconnex{
    width: 8rem;
}
.sous_header ul{ 
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5em;
 }
.navicon li{
    border-radius: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    box-shadow: 3px -3px 5px #000000;
    background-color:#CEECF2;
    white-space: nowrap;
}
.main{
    background-color:#CEECF2 ;
}
.footer {
    text-align: center;
    color: #ffffff;
    background-color: #273859;
    margin-top: 2rem;
}